<div class="container-fluid section w-adjust" id="section-slider">
    <!--slider box-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Overlay -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner w-adjust">
            <div class="carousel-item active">
                <img src="{{asset "images/GettyImages-1294218659.webp"}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1>{{@site.description}}</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{asset "images/banner2.webp"}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1>{{@site.description}}</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{asset "images/banner3.webp"}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h1>{{@site.description}}</h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--// slider box-->
</div>










{{!-- page-about-us --}}

{{!< default}}

<!-- startupImage section -->
<section class="ml--10" >
    <img src="{{asset "/images/rif9u0g3e3sjwy7g1.webp"}}" class="img-responsive w-100" alt="aboutus_image" />
</section>

<div class="mb-5 mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2 class="display-5">Why ?</h2>
      <p class="lead">Internet exists for everyone. Everyone should be </p>
    </div>
  </div>
</div>

</div>
        <!-- //team members -->

<div id="press" class="section bg-dark py-5">
  <div class="row justify-content-center">
      <div class="col-2 my-auto">
        <img
          src="https://landen.imgix.net/defaults/logos/entrepreneur.svg"
          srcset="https://landen.imgix.net/defaults/logos/entrepreneur.svg 2x">
      </div>4
      <div class="col-2 my-auto">
        <img
          src="https://landen.imgix.net/defaults/logos/forbes.svg"
          srcset="https://landen.imgix.net/defaults/logos/forbes.svg">
      </div>
      <div class="col-2 my-auto">
        <img
          src="https://landen.imgix.net/defaults/logos/fortune.svg"
          srcset="https://landen.imgix.net/defaults/logos/fortune.svg">
      </div>
      <div class="col-2 my-auto">
        <img
          src="https://landen.imgix.net/defaults/logos/inc500.svg"
          srcset="https://landen.imgix.net/defaults/logos/inc500.svg">
      </div>
      <div class="col-2 my-auto">
        <img
          src="https://landen.imgix.net/defaults/logos/huffingtonpost.svg"
          srcset="https://landen.imgix.net/defaults/logos/huffingtonpost.svg">
      </div>
  </div>
</div>

  <div class=" py-5">
    <div class="row py-5">
      <div class="col-md-6 offset-md-3 text-center">
        <h1><strong>Be a part of our Journey</strong></h1>
        <div class="text-center mt-5">
          <a href="/contact-us" class="text-white btn btn-dark"
            role="button">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>








{{!-- Startup Page --}}

{{!< default}}

<!-- startupImage section -->
<section class="startupImage-section section clearfix" id="startupImage-section">
    <!-- image box -->
    <div class="container-fluid startup-container">
        <img src="{{asset "/images/startup-img.webp"}}" class="startup-img img-responsive" alt="startup_image" />
    </div>
    <!-- //image box -->
</section>
<!-- //startupImage-section-->

<!-- startup-title section -->
<section id="startup-title" class="section startup-title-section">
    <div class="container bahikhata-container">
        <div class="text-center">
            <h2 class="section-title startup-title color-2">Startup Banking</h2>
            <p class="section-subtitle startup-subtitle color-2">It takes a village to raise a Startup</p>
        </div>
    </div>
</section>
<!-- startup-title section -->

<!-- startup-feature section -->
<section id="startup-feature" class="section section-startup-feature color-1 clearfix">
	<div class="container bahikhata-container">
    	<div class="sf-inner">
      		<div class="row">
            	<div class="col-md-6">
                    <div class="sf-half sf-left">
                    	<img src="{{asset 'images/jyoberottrzt6tzl.svg'}}" class="img-responsive" alt="feature-image" >                       </div>
                </div>
            	<div class="col-md-6">
                    <div class="sf-half sf-right">
                    	<div class="sf-right-header">
                			<h5 class="section-title sf-right-title text-left .color-1">
Finance</h5>
                			<p class="section-subtitle sf-right-subtitle text-left">We help you with funds and financial planning for realising your dreams.</p>
            			</div>
                        <div class="sf-description">
                            <div class="sf-point">
                                <div class="iconWrapper firstWrapper">
                                	<svg class="backdrop dc-backdrop" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 0c2.009 0 4.019.126 6.029.378a8.75 8.75 0 0 1 7.593 7.594 48.394 48.394 0 0 1 0 12.057 8.75 8.75 0 0 1-7.594 7.593 48.417 48.417 0 0 1-12.057 0A8.75 8.75 0 0 1 .38 20.029C.127 18.029 0 16.016 0 14c0-2.009.126-4.019.378-6.029A8.75 8.75 0 0 1 7.971.38C9.971.127 11.984 0 14 0z" fill="rgba(207, 230, 255, 1.0)" fill-rule="nonzero"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dc-icon" fill="#000" viewBox="0 0 640 512"><path d="M0 448c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V128H0v320zm448-208c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v32c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-32zm0 120c0-4.42 3.58-8 8-8h112c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H456c-4.42 0-8-3.58-8-8v-16zM64 264c0-4.42 3.58-8 8-8h304c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zm0 96c0-4.42 3.58-8 8-8h176c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zM624 32H16C7.16 32 0 39.16 0 48v48h640V48c0-8.84-7.16-16-16-16z"></path></svg>
                                </div>
                                <div class="sf-point-content">
                                	<h3 class="sf-point-title color-1">Debt Capital</h3>
                                    <p class="sf-point-description">Extra Cash to capture Opportunities.</p>
                                </div>
                            </div>


                            <div class="sf-point">
                                <div class="iconWrapper firstWrapper">
                                	<svg class="backdrop dc-backdrop" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 0c2.009 0 4.019.126 6.029.378a8.75 8.75 0 0 1 7.593 7.594 48.394 48.394 0 0 1 0 12.057 8.75 8.75 0 0 1-7.594 7.593 48.417 48.417 0 0 1-12.057 0A8.75 8.75 0 0 1 .38 20.029C.127 18.029 0 16.016 0 14c0-2.009.126-4.019.378-6.029A8.75 8.75 0 0 1 7.971.38C9.971.127 11.984 0 14 0z" fill="rgba(207, 230, 255, 1.0)" fill-rule="nonzero"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dc-icon" fill="#000" viewBox="0 0 640 512"><path d="M0 448c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V128H0v320zm448-208c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v32c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-32zm0 120c0-4.42 3.58-8 8-8h112c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H456c-4.42 0-8-3.58-8-8v-16zM64 264c0-4.42 3.58-8 8-8h304c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zm0 96c0-4.42 3.58-8 8-8h176c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zM624 32H16C7.16 32 0 39.16 0 48v48h640V48c0-8.84-7.16-16-16-16z"></path></svg>
                                </div>
                                <div class="sf-point-content">
                                	<h3 class="sf-point-title color-1">Equity Capital</h3>
                                    <p class="sf-point-description">Like Minded Partners who would like to back your ideas with money & more.</p>
                                </div>
                            </div>


                            <div class="sf-point">
                                <div class="iconWrapper firstWrapper">
                                	<svg class="backdrop dc-backdrop" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 0c2.009 0 4.019.126 6.029.378a8.75 8.75 0 0 1 7.593 7.594 48.394 48.394 0 0 1 0 12.057 8.75 8.75 0 0 1-7.594 7.593 48.417 48.417 0 0 1-12.057 0A8.75 8.75 0 0 1 .38 20.029C.127 18.029 0 16.016 0 14c0-2.009.126-4.019.378-6.029A8.75 8.75 0 0 1 7.971.38C9.971.127 11.984 0 14 0z" fill="rgba(207, 230, 255, 1.0)" fill-rule="nonzero"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dc-icon" fill="#000" viewBox="0 0 640 512"><path d="M0 448c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V128H0v320zm448-208c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v32c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-32zm0 120c0-4.42 3.58-8 8-8h112c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H456c-4.42 0-8-3.58-8-8v-16zM64 264c0-4.42 3.58-8 8-8h304c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zm0 96c0-4.42 3.58-8 8-8h176c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8v-16zM624 32H16C7.16 32 0 39.16 0 48v48h640V48c0-8.84-7.16-16-16-16z"></path></svg>
                                </div>
                                <div class="sf-point-content">
                                	<h3 class="sf-point-title color-1">Crowd Funding</h3>
                                    <p class="sf-point-description">Easiest capital to raise and can help you get started with your projects.</p>
                                </div>
                            </div>

                        </div>
                    </div>
            	</div>
    		</div>
    	</div>
    </div>
</section>
<!-- //startup-feature section -->

<!-- startup-connection section -->
<section id="startup-connection" class="section section-startup-connection color-1 clearfix">
	<div class="container bahikhata-container">
        <div class="conn-inner">
        	<div class="row">

            	<div class="col-md-6">
                    <div class="conn-half conn-left">
                        <div class="conn-left-header">
                			<h5 class="section-title conn-left-title text-left color-1">
Connections</h5>
                			<p class="section-subtitle conn-left-subtitle text-left">Something your existing network might not be able to refer you to.</p>
            			</div>
                        <div class="conn-description">
                            <div class="conn-point">
                                <div class="iconWrapper">
                                    <svg class="backdrop tu-backdrop" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 0c2.009 0 4.019.126 6.029.378a8.75 8.75 0 0 1 7.593 7.594 48.394 48.394 0 0 1 0 12.057 8.75 8.75 0 0 1-7.594 7.593 48.417 48.417 0 0 1-12.057 0A8.75 8.75 0 0 1 .38 20.029C.127 18.029 0 16.016 0 14c0-2.009.126-4.019.378-6.029A8.75 8.75 0 0 1 7.971.38C9.971.127 11.984 0 14 0z" fill="rgba(207, 230, 255, 1.0)" fill-rule="nonzero"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon tu-icon" fill="#000" viewBox="0 0 640 512"><path d="M624 448h-80V113.45C544 86.19 522.47 64 496 64H384v64h96v384h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM312.24 1.01l-192 49.74C105.99 54.44 96 67.7 96 82.92V448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h336V33.18c0-21.58-19.56-37.41-39.76-32.17zM264 288c-13.25 0-24-14.33-24-32s10.75-32 24-32 24 14.33 24 32-10.75 32-24 32z"></path></svg>
                                </div>
                                <div class="conn-point-content">
                                    <h3 class="conn-point-title color-1">Tie-ups - Corporates, Brands, Startups</h3>
                                    <p class="conn-point-description">Not from Ivy League . No Problem... We help you get the foot inside door.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="conn-half conn-right">
                        <img src="{{asset "/images/startup-conn.svg"}}" class="img-responsive" alt="feature-image" >
                    </div>
                </div>

            </div>
        </div>
	</div>
</section>
<!-- //startup-connection section -->

<!-- advisory section -->
<section id="startup-advisory" class="section section-startup-advisory color-1 clearfix">
	<div class="container bahikhata-container">
    	<div class="sf-inner">
      		<div class="row">
            	<div class="col-md-6">
                    <div class="sf-half sf-left">
                    	<img src="{{asset "/images/advisory.svg"}} class="img-responsive" alt="feature-image">                       </div>
                </div>
            	<div class="col-md-6">
                    <div class="sf-half sf-right">
                    	<div class="sf-right-header">
                			<h5 class="section-title sf-right-title text-left .color-1">
Advisory</h5>
                			<p class="section-subtitle sf-right-subtitle text-left">A patient listen is often what we want when we tread on uncharted terrorities.</p>
            			</div>
                        <div class="sf-description">
                            <div class="sf-point">
                                <div class="iconWrapper">
                                	<svg class="backdrop dc-backdrop" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 0c2.009 0 4.019.126 6.029.378a8.75 8.75 0 0 1 7.593 7.594 48.394 48.394 0 0 1 0 12.057 8.75 8.75 0 0 1-7.594 7.593 48.417 48.417 0 0 1-12.057 0A8.75 8.75 0 0 1 .38 20.029C.127 18.029 0 16.016 0 14c0-2.009.126-4.019.378-6.029A8.75 8.75 0 0 1 7.971.38C9.971.127 11.984 0 14 0z" fill="rgba(207, 230, 255, 1.0)" fill-rule="nonzero"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dc-icon" fill="#000" viewBox="0 0 496 512"><path d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 376c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm0-128c-53.02 0-96 42.98-96 96s42.98 96 96 96c-106.04 0-192-85.96-192-192S141.96 64 248 64c53.02 0 96 42.98 96 96s-42.98 96-96 96zm0-128c-17.67 0-32 14.33-32 32s14.33 32 32 32 32-14.33 32-32-14.33-32-32-32z"></path></svg>
                                </div>
                                <div class="sf-point-content">
                                	<h3 class="sf-point-title color-1">Belief  Support System</h3>
                                    <p class="sf-point-description">Knowing that someone believes in your ideas and stands to support you often makes most difference.</p>
                                </div>
                            </div>

                        </div>
                    </div>
            	</div>
    		</div>
    	</div>
    </div>
</section>
<!-- //advisory section -->

<!--wealth-management section -->
<section id="startup-connection" class="section section-startup-connection section-wealth-mgt color-1 clearfix">
	<div class="container bahikhata-container">
        <div class="conn-inner">
        	<div class="row">

            	<div class="col-md-6">
                    <div class="conn-half conn-left">
                        <div class="conn-left-header">
                			<h5 class="section-title conn-left-title text-left color-1">
Wealth Management</h5>
                			<p class="section-subtitle conn-left-subtitle text-left">Ensuring your success is long lasting.</p>
            			</div>
                        <div class="conn-description">
                            <div class="conn-point">
                                <div class="iconWrapper">
                                    <svg class="backdrop tu-backdrop" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M14 0c2.009 0 4.019.126 6.029.378a8.75 8.75 0 0 1 7.593 7.594 48.394 48.394 0 0 1 0 12.057 8.75 8.75 0 0 1-7.594 7.593 48.417 48.417 0 0 1-12.057 0A8.75 8.75 0 0 1 .38 20.029C.127 18.029 0 16.016 0 14c0-2.009.126-4.019.378-6.029A8.75 8.75 0 0 1 7.971.38C9.971.127 11.984 0 14 0z" fill="rgba(207, 230, 255, 1.0)" fill-rule="nonzero"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon tu-icon"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                                </div>
                                <div class="conn-point-content">
                                    <h3 class="conn-point-title color-1">Long Term Goals</h3>
                                    <p class="conn-point-description">Helping you explore various investment options ensuring your capital is safe and keeps growing.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="conn-half conn-right">
                        <img src="{{asset "/images/wealth-mgt.svg"}}" class="img-responsive" alt="feature-image" >
                    </div>
                </div>

            </div>
        </div>
	</div>
</section>
